<div class="row">
  <div class="col-md-9 col-sm-7">
    <h2>Connections</h2>
  </div>
  
  <div class="col-md-3 col-sm-5">
    
    <%= render 'layouts/search_users' %>
    
  </div>
</div>
<div class="row">
    <div class="">

        <div class="panel-options">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#following" data-toggle="tab">Following</a></li>
            <li class=""><a href="#followers" data-toggle="tab">Followers</a></li>
            <li class=""><a href="#others" data-toggle="tab">Others in the community</a></li>
            <li class="hidden" id="search-tab"><a href="#search" data-toggle="tab">Search Results</a></li>
          </ul>
        </div>

      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active" id="following">
            <h3>People you follow</h3>
            <% @targets.each do |target| %>
              
              <%= render partial: 'connections/detail', locals: {user: target} %>
              
            <% end %>
          </div>
          <div class="tab-pane" id="followers">
            <h3>Your followers</h3>
            <% @followers.each do |follower| %>
              <%= render partial: 'connections/detail', locals: {user: follower} %>
            <% end %>
          </div>
          <div class="tab-pane" id="others">
            <h3>Inspiring people in the community</h3>
            <% @users_to_view.each do |user| %>
              <%= render partial: 'connections/detail', locals: {user: user} %>
            <% end %>>
          </div>
          <div class="tab-pane" id="search">
            <div id="search-results">
              <h3>PEOPLE YOU ARE CREEPING</h3>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>