<div id="search-results">
	Found <%= @post_results.count %> matching posts <%= link_to "Clear results", clear_path, :remote => true %>

	<ul>
		<% @post_results.each do |post| %>
			<%= render 'posts/post', post: post %>
		<% end %>
	</ul>
</div>