<div class="wrap">
  
  <!-- Breadcrumb -->
<section class="breadcrumb">
  
  <div class="container">
    
    <div class="row">
      
      <div class="col-sm-12">
        
        <h1>About Us</h1>
          <ol class="breadcrumb bc-3" >
          <% if !user_signed_in? %>
            <li>
              <a href="<%= root_path %>"><i class="fa-home"></i>Join</a>
            </li>
            <li class="active">
               <strong>About</strong>
            </li>
          <% end %>
          </ol>
              
      </div>
      
    </div>
    
  </div>
  
</section>


<!-- About Us Text -->
<section class="content-section">

  <div class="container">
    
    <div class="row">
      
      <div class="col-sm-7">
        
        <h3>The Project</h3>
        
        <br />
        
        <p>'Diversitech' is our Flatiron School final project, completed April 17th, 2015.</p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, obcaecati soluta voluptatum laudantium harum expedita labore modi temporibus possimus molestias aliquid ea qui veniam atque eius laborum est veritatis iusto.
        </p>
        
      </div>
      
      <div class="col-sm-5">
        
        <a href="#">
          <img src="assets/images/about-img-1.png" class="img-rounded" />
        </a>
        
      </div>
      
    </div>
    
  </div>
  
</section>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Skills</h3>
      <br />
    </div>
  </div>
</div>

<!-- Skills and Info Section -->
<section class="content-section bg-gray">
  
  <div class="container">
    
    <div class="row">
      
      <div class="col-md-6">
        
        <h5>Database</h5>
        
        <div class="progress progress-rounded">
          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 78%">
          </div>
        </div>
        
        
        <h5>Rails</h5>
        
        <div class="progress progress-rounded">
          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 52%">
          </div>
        </div>
        
        
        <h5>Frontentd</h5>
        
        <div class="progress progress-rounded">
          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 35%">
          </div>
        </div>
        
      </div>
      
      <div class="col-sm-6">
        <h5>&nbsp;</h5>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo pariatur reiciendis odit corporis ducimus commodi obcaecati quas distinctio sed veritatis, voluptate officia, eius nemo, modi vero possimus, laudantium ex sapiente.</p>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis repudiandae quasi eveniet necessitatibus, doloremque repellat dolorum voluptate libero earum aliquid explicabo illum a sit, fuga at sed quo cupiditate accusantium.</p>
      </div>
      
    </div>
    
  </div>
  
</section>


<!-- Members -->
<section class="content-section">
  
  <div class="container">
  
    <div class="row">
      
      <div class="col-sm-6">
        
        <div class="staff-member">
          
          <a class="image" href="#">
            <img src="assets/images/staff-member-1.png" class="img-circle" />
          </a>
          
          <h4>
            <a href="www.eakins.io" target="_blank">Rebecca Eakins</a>
          </h4>
          
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
          
          <ul class="social-networks">
            <li>
              <a href="https://twitter.com/rebecca_eakins" target="_blank">
                <i class="entypo-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/rebecca-eakins" target="_blank">
                <i class="entypo-github"></i>
              </a>
            </li>
          </ul>
          
        </div>
        
      </div>
    
      <div class="col-sm-6">
        
        <div class="staff-member">
          
          <a class="image" href="#">
            <img src="assets/images/staff-member-1.png" class="img-circle" />
          </a>
          
          <h4>
            <a href="http://bshap27.github.io/" target="_blank">Rebecca Shapiro</a>
          </h4>
          
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
          
          <ul class="social-networks">
            <li>
              <a href="https://twitter.com/bshap27" target="_blank">
                <i class="entypo-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/bshap27" target="_blank">
                <i class="entypo-github"></i>
              </a>
            </li>
          </ul>
          
        </div>
        
      </div>
      
    </div>
    
  </div>
  
</section>  
 
</div>