<% if !user_signed_in? %>
	<h1>I want to help diversify tech.</h1>
<% else %>
	
	<h1>My Dashboard</h1>

	<h2><%= link_to "Forum", goal_posts_path(Goal.first) %></h2> <%#= @current_user.primary_goal %>

		<form>
			<input type="text", placeholder="Find thread"/>
			<input type="submit", value="Go"/>
		</form>

	<h2>Resources</h2>

		<form>
			<input type="text", placeholder="Find resource"/>
			<input type="submit", value="Go"/>
		</form>

	<p></p>
	<h4>Recently added resources you might like:</h4>
	<ul>
		<li>Resource 1</li>
		<li>Resource 2</li>
	</ul>

	<h2>Network</h2>

	<ul>
		<li>Recent Connection 1</li>
		<li>Recent Connection 2</li>
	</ul>

<% end %>