<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<!-- <div class="panel-title"></div> -->
				<div class="panel-options">
				</div>
			</div>
			<div class="panel-body">
				<div class="tab-content">
					<h3><%= @post.content %></h3>
					<p>
						Posted by <%= link_to @post.user.name, @post.user %> on <%= @post.created_at.strftime("%m/%d/%y") %>
						<%= link_to "Edit", edit_post_path(@post) if @post.user_id == current_user.id %>
					</p>
				</div>
			</div>
		</div>
		Add Comment
	</div>
</div>