<h3><%= @goal.name.capitalize %></h3><br>

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Recent Forum Posts</div>
					<%= render 'layouts/search' %>
			</div>
			<div class="panel-body">
			<%= link_to "See all", posts_path %>
				<ul>
					<% @goal.posts.limit(5).each do |post| %>
						<%= render 'posts/post', post: post %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Resources</div>
			</div>
			<div class="panel-body">
				<p>Recently added resources:</p>
				<ul>
					<li>Resource 1</li>
					<li>Resource 2</li>
				</ul>
			</div>
		</div>
	</div>
</div>