<h1>Goal: <%= @goal.name %></h1>

<h2><%= link_to "Forum", goal_posts_path(@goal) %></h2> <%#= @current_user.primary_goal %>


<h2>Resources</h2>

<p></p>
<h4>Recently added resources:</h4>
<ul>
	<li>Resource 1</li>
	<li>Resource 2</li>
</ul>