/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

.logo a {
  vertical-align: middle;
  margin: 0;
}

.sidebar {
  float: left;
  width: 25%;
  padding-left: 6em;
  padding-right: 2em;
  border-right: 1px solid #e7e7e7;
}

#profile_pic {
	width: 44px;
	margin: 0 auto;
  border-radius: 100%;
  margin-right: 5px;
}

.sidebar > * {
	text-align: center;
}

.user_info {
	text-align: left;
}

/*****************************************************************************/
/*
/* Body Container
/*
/*****************************************************************************/

#main {
	float: left;
	width: 75%;
	padding: 2em;
}

/*****************************************************************************/
/*
/* Styling
/*
/*****************************************************************************/

.current {
	font-weight: bold;
	font-size: 20px;
}

/*****************************************************************************/
/*
/* Navbar
/*
/*****************************************************************************/
#search_search_term {
	width: 250px;
}

.dropdown-toggle, .links-list {
	font-size: 14px;
	color: #373e4a;
}

.badge.badge-info {
  background-color: #21a9e1;
  color: #ffffff;
}

.badge.badge-secondary {
  background-color: #ee4749;
  color: #ffffff;
}