/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

.logo a {
  vertical-align: middle;
  margin: 0;
}

.sidebar {
  float: left;
  width: 25%;
  padding-left: 6em;
  padding-right: 2em;
  border-right: 1px solid #e7e7e7;
}

#profile_pic {
	width: 44px;
	margin: 0 auto;
  border-radius: 100%;
  margin-right: 5px;
}

.sidebar > * {
	text-align: center;
}

.user_info {
	text-align: left;
}



/*****************************************************************************/
/*
/* Connections
/*
/*****************************************************************************/

.network_pic {
  width: 44px;
  margin: 0 auto;
  border-radius: 100%;
  margin-right: 5px;
}

/*****************************************************************************/
/*
/* Body Container
/*
/*****************************************************************************/

#main {
	float: left;
	width: 75%;
	padding: 2em;
}

.panel-primary > .panel-heading > .panel-title > a.dash-link {
  color: #2574A9;
}

.panel-primary > .panel-heading > .panel-title > a.dash-link:hover {
  color: #257fa9;
  text-decoration: underline;
}


/*****************************************************************************/
/*
/* Styling
/*
/*****************************************************************************/

.current {
	font-weight: bold;
	font-size: 20px;
}

/*****************************************************************************/
/*
/* Navbar
/*
/*****************************************************************************/
#search_search_term {
	width: 250px;
}

.user-info, .links-list {
	font-size: 14px;
	color: #373e4a;
}

.panel-heading {
	padding: 0;
}

#user-name {
	/*vertical-align: middle;*/
	margin-top: 9px;
	margin-bottom: 9px;
}

#site-logo {
	margin: 0px;
}

/*div.panel-options {
	height: 51px;
}*/

/*****************************************************************************/
/*
/* DEVISE - LOGIN
/*
/*****************************************************************************/
.login {
  color: #2574A9;
}

#loggins {
  border: none;
  color: #949494;
  background-color: #F0F0F0;
  text-align: center;
  padding: 15px 20px;
  font-size: 14px;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#loggins i {
  float: right;
}
#loggins:hover,
#loggins:active {
  background: #FFF;
  color: #949494;
  border: none;
}

#slim {
  padding: 50px 0;
}

#remember-me {
  margin: 0 0 20px 0;
}

#error_explanation {
  color: #2574A9;
}

/*****************************************************************************/
/*
/* Search
/*
/*****************************************************************************/

.hide {
  display: none;
}

/*****************************************************************************/
/*
/* General Hacks
/*
/*****************************************************************************/

.right {
  float: right;
}

/*****************************************************************************/
/*
/* Newsfeed
/*
/*****************************************************************************/

ul.newsfeed {
  margin: 0;
  padding: 0;
}

ul.newsfeed li {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

div.post-index {
  padding: 5px 15px 5px 15px;
  margin-bottom: 10px;
}
  
/*****************************************************************************/
/*
/* USER PROFILE PAGE
/*
/*****************************************************************************/

#follow  {
  background-color: rgb(240, 240, 241);
  background-image: none;
  border: none;
}

#follow:hover  {
  background-color: rgb(240, 240, 241);
  background-image: none;
  border: none;
}

/*****************************************************************************/
/*
/* POSTS
/*
/*****************************************************************************/

.big-title {
  font-size: 24px;
}