/* MENU LINKS SECTION*/
body {
  color: #F0677C;
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.menu-section {
    background-color: #3D3D3D;
}

#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #C36464;
}

.menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
    background-color: #F0677C!important;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
    background-color: #F0677C!important;
}

.navbar-inverse {
    background-color: #C36464;
    border-color: transparent;
}

.navbar-toggle {
    background-color: #F0677C;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
}