      <%= link_to "About", about_path %>
      <span class="separator">&bull;</span>
      <%= link_to "Fork Me on Github", "http://www.github.com/diversitech", target: "_blank" %>
      <span class="separator">&bull;</span>
      <%= link_to "Made with <3 at the Flatiron School", "http://flatironschool.com/", target: "_blank" %>
