    <!-- Pager for search results -->
    <div class="row">
      <div class="col-md-12">
        <ul class="pager">
          <li><a href="#"><i class="entypo-left-thin"></i> Previous</a></li>
          <li><a href="#">Next <i class="entypo-right-thin"></i></a></li>
        </ul>
      </div>
    </div>