<%= form_for(Search.new, :url => search_results_path, :role => 'search', :method => 'get', :remote => true) do |f| %>
	<div class='navbar-form navbar-left'>
		<div class="form-group">
		<%= f.text_field :search_term, label: false,  placeholder: 'Find Discussion by Keyword', :class => "form-control" %>
	  </div>
		<%= f.submit "Go", :class => "btn btn-default" %>
	</div>	
<% end %>